/* Стили для header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Стили для навигационного меню */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #ccc;
}

/* Стили для основного содержимого */
main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Стили для footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    padding: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}