<!DOCTYPE html>
<html>
<head>
    <title>Касса магазина</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
</head>
<body>
<header>
    <h1>Касса магазина</h1>
</header>

<nav>
    <ul>
        <li><a href="#">Все покупки</a></li>
        <li><a href="/add">Добавить покупку</a></li>
    </ul>
</nav>

<main>
    <h2>Все покупки</h2>
    <canvas id="chart"></canvas>
<script src="/static/chart_script.js" type="module"></script>
    <table>
        <tr>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        {% for i in puchases %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.cost }}</td>
            <td>{{ i.count }}</td>
        </tr>
        {% endfor %}
        <!-- Добавьте дополнительные строки для каждой покупки -->
    </table>
</main>

<footer>
    <p>© 2022 Касса магазина. Все права защищены.</p>
</footer>
</body>
</html>