<!DOCTYPE html>
<html>
<head>
    <title>Касса магазина</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<header>
    <h1>Касса магазина</h1>
</header>

<nav>
    <ul>
        <li><a href="#">Все покупки</a></li>
        <li><a href="/add">Добавить покупку</a></li>
    </ul>
</nav>

<main>
    <h2>Все покупки</h2>

    <table>
        <tr>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>
        <tr>
            <td>Товар 1</td>
            <td>100 руб.</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Товар 2</td>
            <td>200 руб.</td>
            <td>1</td>
        </tr>
        <!-- Добавьте дополнительные строки для каждой покупки -->
    </table>
</main>

<footer>
    <p>© 2022 Касса магазина. Все права защищены.</p>
</footer>
</body>
</html>